[access]
	inheritFrom = Public-Projects
[project]
	description = Scripts used for continuous integration builds of Gerrit
[access "refs/*"]
	owner = group gerrit-ci-scripts-maintainers
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group gerrit-ci-scripts-maintainers
	label-Verified = -1..+1 group Change Owner
	label-Verified = -1..+1 group gerrit-ci-scripts-maintainers
	submit = group gerrit-ci-scripts-maintainers
[submit]
	action = rebase if necessary
